@font-face {
  font-family: poppins;
  src: url(Poppins-Regular.ttf);
  font-weight: lighter;
}
*
{
	box-sizing: border-box;
	font-family: poppins;
}
body
{
	margin: 0;
}
section
{
	height: 50px;
	width: 100%;
	position: relative;
	box-shadow: 5px 10px 30px rgb(0,0,0,0.02);
}
.navbar
{
	display: flex;
	justify-content: space-around;
	background: #fff;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.logo a img
{
	width:4vw;
}
.menu
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	vertical-align: center;
}
.menu li
{
	display: block;
	background: #fff;
}
.menu li a
{
	color: #111;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	margin:3px;
	padding: 15px 22px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 0.8em;
	color: gray;
}
.menu li a:hover
{
	background-color: #23cdaf;
	box-shadow: 5px 10px 30px rgb(24,139,119,0.2);
	transition: all 0.2s ease;
	color: #fff;
}
.sayHi
{
	color: #39bfbd;
	font-size:0.9em;
	border-bottom: 2px solid #39bfbd;
	text-decoration: none;
	font-weight: bold;
}
.content
{
	max-width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.img img
{
	max-width: 500px;
}
.text
{
	width: 500px;
}
.text h1
{
	font-size:3.5em;
	color: #1c3548;
	margin: 0px 0px 10px 0px;
	line-height: 10vh;
}
.text p
{
	color: grey;
}
.button
{
	font-size: 0.9em;
	text-decoration: none;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	background: #1db096;
	color: #fff;
	box-shadow: 5px 10px 30px rgb(24,139,119,0.2);
	padding: 5px 25px;
}
.button:hover
{
	background: #23cdaf;
	transition: all 0.2s ease;
}